USE [master]
GO
/****** Object:  Database [FeatureDB]    Script Date: 27/04/2021 11:23:10 ******/
CREATE DATABASE [FeatureDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FeaturesAccess', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FeaturesAccess.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FeaturesAccess_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\FeaturesAccess_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FeatureDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FeatureDB]
GO
/****** Object:  Table [dbo].[FeatureAccess]    Script Date: 27/04/2021 11:23:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FeatureAccess](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[featureName] [nvarchar](150) NULL,
	[email] [nvarchar](250) NULL,
	[enable] [bit] NULL,
 CONSTRAINT [PK_FeatureAccess] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_FeatureAccess]    Script Date: 27/04/2021 11:23:10 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UQ_FeatureAccess] ON [dbo].[FeatureAccess]
(
	[featureName] ASC,
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
